{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div style="text-align: center; max-width: 500px; margin: 4rem auto">
        <div>
            <h4>Login</h4>
        </div>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                {# login view에서 기본제공되는 form   #}
{#{{ form }} bootstrap 전용폼 사용#}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3" value="눌러줘">
            </form>
        </div>


    </div>

{% endblock %}