<header>
    <div class="pragmatic_header" style="text-align: center; margin: 2rem 0;">
        <div>
            <h1 class="pragmatic_logo">Pragmatic</h1>
        </div>
        <div class="pragmatic_header_navbar">
            <a href="{% url 'articleapp:list' %}" class="pragmatic_header_nav">
                <span>Articles</span>
            </a>
            <a href="{% url 'projectapp:list' %}" class="pragmatic_header_nav">
                <span>Projects</span>
            </a>
            <a href="{% url 'subscribeapp:list' %}" class="pragmatic_header_nav">
                <span>Subscriptions</span>
            </a>
            {#            <span>nav1</span>#}
            {% if not user.is_authenticated %}
                {#          내가 만든 홈페이지 어느에서든지 로그인을 하면 해당 url을 next인자로 넘겨주고 로그인을 하고나서 원래있는 자리로 돌아옴  #}
                <a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="pragmatic_header_nav">
                    <span>login</span>
                </a>
                <a href="{% url 'accountapp:create' %}?next={{ request.path }}" class="pragmatic_header_nav">
                    <span>SingUp</span>
                </a>
            {% else %}
                <a href="{% url 'accountapp:detail' pk=user.pk %}" class="pragmatic_header_nav">
                    <span>MyPage</span>
                </a>
                <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" class="pragmatic_header_nav">
                    <span>logout</span>
                </a>
            {% endif %}
        </div>
    </div>

</header>