<header>
    <div class="pragmatic_header" style="text-align: center; margin: 2rem 0;">
        <div>
            <h1 class="pragmatic_logo">Pragmatic</h1>
        </div>
        <div>
            <span>nav1</span>
            <span>nav1</span>
            <span>nav1</span>
            {% if not user.is_authenticated %}
{#          내가 만든 홈페이지 어느에서든지 로그인을 하면 해당 url을 next인자로 넘겨주고 로그인을 하고나서 원래있는 자리로 돌아옴  #}
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
                <span>login</span>
            </a>
            <a href="{% url 'accountapp:create' %}?next={{ request.path }}">
                <span>SingUp</span>
            </a>
            {% else %}
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                <span>MyPage</span>
            </a>
                <a href="{% url 'accountapp:logout' %}?next={{ request.path }}">
                <span>logout</span>
            </a>
            {% endif %}
        </div>
    </div>

</header>